extends layout

block header
	h1 Guest Book

block content
	h1 Post a message on our wall!
	form(action="/guestbook" method="post")
		input(type="text", name="name", value="Enter name")
		input(type="text", name="note", value="Enter note")
		.button
			input(type='submit')

	#guestbook
		table
			thead
				tr: th Posts
				tbody
					each post in posts
						tr
							td 
								p #{post.name} - #{post.note}