extends layout

block header
	h1 Post a message on our wall!

block content
	form(action="/guestbook" method="post")
		input(type="text", name="name", placeholder="Enter name")
		div
			textarea.note(name="note", rows="10", cols="30", placeholder="Enter note")
		button.pure-button.pure-button-primary.rsvp(type="submit") Submit	
	ul.smooshed
		each post in posts
			li.post #{post.name} - #{post.note}