extends layout

block content
    h1 Nick and Sara
    .nav
        ul
            li
                a(href='/') Home
            li
                a(href='photos') Photos
            li
                a(href='index.html') Guest Book
            li
                a(href='index.html') RSVP
            li
                a(href='index.html') Our Story
            li
                a(href='index.html') Map
            li
                a(href='index.html') Wedding Registry
