doctype html
html
	head
		title= title
		link(rel='stylesheet' href='https://unpkg.com/purecss@1.0.0/build/pure-min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
			script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js')

	body
		.container
			block header
			ul.nav
				li.nav
					a.nav(href='/') Home
				li.nav
					a.nav(href='rsvp') RSVP
				li.nav
					a.nav(href='guestbook') Guest Book
					
			block content
