extends layout

block header
	h1= title

block content
	#attendingform
		form.pure-form(action="/rsvp" method="post")
			fieldset
				select#rsvp-select(name="name")
					each guest in guests
						option(value=(guest.name)) #{guest.name}
				span.rsvp
					input.rsvp(type="radio", name="attending", value="yes", checked=attending=="yes")
					span.radiolabel Attending
				span.rsvp
					input.rsvp(type="radio", name="attending", value="no", checked=attending=="no")
					span.radiolabel Not Attending
				button.pure-button.pure-button-primary.rsvp(type="submit") Submit
