extends layout

block header
	h1= title

block content
	#attendingform
		form(action="/rsvp" method="post")
			div.select-style
				select(name="name")
					each guest in guests
						option(value=(guest.name) selected=(guest.name == "Larry Gallimore") ? true : false) #{guest.name}
			input(type="radio", name="attending", value="yes", checked=attending=="yes")
			| Attending
			input(type="radio", name="attending", value="no", checked=attending=="no")
			| Not Attending
			.button
				input(type='submit')
