extends layout

block header
	h1 RSVP

block content
	#attendingform
		form(action='/rsvp')
			select(id="xxx", name="xxxyyy")
				-for(var i = 1;i < 10; i++){
					option(value="#{i}") Some value for #{i}
				-}
			input(type="radio", name="attending", value="yes", checked=attending=="yes")
			| Attending
			input(type="radio", name="attending", value="no", checked=attending=="no")
			| Not Attending
			.button
				input(type='submit')
