.container {
    margin: 0px auto;
    width: 80%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d2d60;
    padding: 50px;
    color: #ffffff;
}

@font-face {
    font-family: 'doyouloveme';
    src:
        url('../fonts/doyouloveme.ttf')
}

h1 {
	font-family: 'doyouloveme';
	text-align: center;
	font-size: 80px;
	color: #ffffff;
}

ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #0d2d60;
	color: #ffffff;
    text-align: center;
}

ul li {
	display: inline-block;
    float: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #162947;
}

* {
	box-sizing: border-box;
}

img {
	width: 100%;
    border: 2px solid #ffffff;
}

form {
    padding-top: 30px;
    text-align: center;
}

.img-row {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

.img-column {
	-ms-flex: 25%; /* IE 10 */
	flex: 25%;
	padding: 0 4px;
}

.img-column img {
	margin-top: 8px;
	vertical-align: middle;
}

#photos {
	margin: 40px auto;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
